<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label>Title</label>
            <label>%TEXT%</label>
        </div>

        <div class="pure-control-group">
            <label>Category</label>
            <label>%CLASS_NAME%</label>
        </div>

        <div class="pure-control-group">
            <label>Start date</label>
            <label>%START_DATE%</label>
        </div>

        <div class="pure-control-group">
            <label>End date</label>
            <label>%END_DATE%</label>
        </div>

        <div class="pure-control-group">
            <label>Description</label>
            <div>%DESCRIPTION%</div>
        </div>
    </fieldset>
</form>
