<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="UpdateEra_Text">Text</label>
            <input id="UpdateEra_Text" type="text" placeholder="Text" value="%TEXT%" />
        </div>

        <div class="pure-control-group">
            <label for="UpdateEra_StartDate">Start date</label>
            <input id="UpdateEra_StartDate" type="datetime-local" value="%START_DATE%" />
        </div>

        <div class="pure-control-group">
            <label for="UpdateEra_EndDate">End date</label>
            <input id="UpdateEra_EndDate" type="datetime-local" value="%END_DATE%" />
        </div>

        <div class="pure-control-group">
            <label for="UpdateEra_Color">Color</label>
            <input id="UpdateEra_Color" class="button" type="color" value="%COLOR%" />
        </div>
    </fieldset>
</form>
